{% extends "base.html" %}
{% block title %}HoomanLogic{% endblock title %}
{% block heading %}
    About HoomanLogic
{% endblock heading %}
{% block content %}
    {{ block.super }}
    <div class='vision'>
        <h2>—Our Vision—</h2>
        <p>At HoomanLogic, we are solely interested in designing software to be friendlier to hoomans instead of clunky interfaces that try to make hoomans think like musheens.</p>
        <p>When musheens think more like hoomans, we can easily interact with them and get things done, instead of wasting time and effort trying to understand a musheen.</p>
        <p>Our design principals are influenced by the latest research in neuroscience and user-interface engineering and we place the priority on understanding the needs of the user in order to be used seamlessly and effectively.</p>
    </div>
    <div class='service'>
        <h2>—Our Services—</h2>
        <p>Our team has a wide range of experience, especially when it comes to building business and industry-specialized solutions, with over 15 years of experience developing professional solutions and writing quality software.</p>
        <p>We can offer custom native-OS and web-based solutions, support, and consulting.</p>
        <p>With our strong dedication to producing software that hoomans can actually use, we take the time to carefully understand the needs of the user and conduct thorough usability tests.</p>
        <p>We also implement best practices that make our code extremely readable, maintainable, and less prone to error.</p>
        <p>If you are interested in an estimate, please send a detailed request to service@hoomanlogic.com.</p>
    </div>
    <div class='philanthropy'>
        <h2>—Our Philanthropic Quest—</h2>
        <p>We're hoomaphiles; we really love our hoomans. </p>
        <p>That's why we spend so much of our resources building software for the business of being hooman and bridging the gap of hooman potential, always open-source, data-transparent, and ad-free, because hoomans know better than to trust what they can't see!</p>
        <p>As fellow hoomans, we believe it is our duty to use our talents to develop systems for the benefit of all hooman-kind that create personal and social incentives to do good, provide effective and insightful monitors that enable us to learn from our past and plan a better future, and drive our progression through gradual but consistent changes to our day-to-day actions.</p>
        <p>We depend on donations and the profits of our private-sector business to fund our philanthropic quest to help hoomans be the best hoomans they can be!</p>
    </div>
{% endblock content %}