{# simple base.html #}
{% load staticfiles %}
<DOCTYPE html/>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>{% block title %}HoomanHub{% endblock title %}</title>
        <link rel="stylesheet" href="{% static "css/reset.css" %}" />
        <link rel="stylesheet" href="{% static "css/bootstrap.css" %}" />
        <link rel="stylesheet" href="{% static "css/base.css" %}" />
        {% block stylesheets %}

        {% endblock stylesheets %}
    </head>
    <body>
        <div class="container">
            <!-- main navigation -->
            <div id="mainnav" class="navbar navbar-inverse">
                <div id="mainnavinner" class="navbar-inner">
                    <a class="brand" href="/hoomanhub/"><b class="green">hooman</b><b class="gray">hub</b></a>
                    <ul class="nav">
                        <li class="divider-vertical"></li>
                        <li id="plan"><a href="/hoomanhub/plan/">Plan.<img src="{% static "img/plan32.png" %}" /></a></li>
                        <li class="divider-vertical"></li>
                        <li id="do"><a href="/hoomanhub/do/">Do.<img src="{% static "img/do32.png" %}" /></a></li>
                        <li class="divider-vertical"></li>
                        <li id="monitor"><a href="/hoomanhub/monitor/">Monitor.<img src="{% static "img/monitor32.png" %}" /></a></li>
                        <li class="divider-vertical"></li>
                        <li id="connect"><a href="/hoomanhub/connect/">Connect.<img src="{% static "img/connect32.png" %}" /></a></li>
                        <li class="divider-vertical"></li>
                        <li id="control"><a href="/hoomanhub/control/">Control.<img src="{% static "img/control32.png" %}" /></a></li>
                        <li class="divider-vertical"></li>
                    </ul>
                </div>
            </div>

            <!-- messages block -->
            <div class="messages">
            {% block messages %}
                {% if messages %}
                <ul>
                    {% for message in messages %}
                    <li id="message_{{ forloop.counter }}"
                        {% if message.tags %} class="{{ message.tags }}"{% endif %}>
                        {{  message }}
                    </li>
                    {% endfor %}
                </ul>
                {% endif %}
            {% endblock messages %}
            </div>



            <!-- sub-navigation block -->
            {% block subnav %}

            {% endblock %}

            <!-- content block -->
            <div class="content-container container">

                <!-- content heading block -->
                <h1 class="heading">
                {% block heading %}

                {% endblock heading %}
                </h1>
                <div class="content">
                {% block content %}

                {% endblock content %}
                </div>
            </div>
        </div>

        <!-- javascript placed at the end of the document so the pages load faster -->
        <script src="http://code.jquery.com/jquery-1.9.1.js"></script>
        <script src="{% static "js/bootstrap.js" %}"></script>
        {% block jscript %}

        {% endblock jscript %}
    </body>
</html>